
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f6f6f9;
    font-family: "poppins" , sans-serif;
}
#game{
    max-width: 1280px;
    width: 100%;
    
    height:500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    overflow-x: hidden;
}

#game h1{
    padding: 2rem 0;
    font-size: 4rem;
    
    text-align: center;
    color:#363949 ;
}
#dino{
    height:110px;
    width:60px;
    position: relative;
    top:150px;
    left:10px;
    
}



#cactus{
    height:90px;
    width:45px;
    position: relative;
    top:250px;
    left:1200px;
    animation: move 1.2s linear  infinite;
   
}
@keyframes move {
    0%{
        left: 1200px;
    }
    100%{
        left: 0px;
    }
}

#result{
    height: 500px;
    width: 1200px;
    margin: 3rem auto;
    padding: 40px 50px;
    font-size: 70px;
    text-align: center;
    border-radius: 20px;
    display: none;
}

#score{
    font-size: 2.2rem;
    color:rgb(74, 74, 74) ;
    justify-content: center;
}
#btn{
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: cyan;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
} 
